openai==1.47.0
fastapi
requests
beautifulsoup4==4.12.0
python-dotenv==1.0.1
uvicorn==0.31.0
aiohttp
fake-useragent
gunicorn
playwright
webdriver-manager
selenium
chromedriver-binary
undetected-chromedriver
setuptools>=58.0.0